<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><!--引入thymeleaf-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
<div style="margin-left:auto;margin-right:auto;width:50%;height:30px;text-align: center">
    <h1>welcome to fast-sso</h1>
    <p style="font-size: 20px">github地址：https://github.com/OliverLiy/fast-sso</p>
    <p style="font-size: 20px">gitee地址：https://gitee.com/lyucoding/fast-sso</p>
    <p style="font-size: 20px">欢迎关注微信公众号《Java鱼仔》</p>
    <div style="font-size: 20px"> <strong>扫一扫二维码，更多内容不错过</strong></div>
    <figure><img src="https://gitee.com/lyucoding/java-starter/raw/main/images/qrcode_for_gh_544708444941_344.jpg" alt="" /></figure>

</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>